body, header, footer, p, h1, h2, h3, h4, h5, h6, a, ul, li, ol, table, tr, td {
	font-family: 'Abel';
}
p {
	line-height: 1.3em;
	font-size: 13px;
}
h1 {
	font-size: 3.2em;
	font-weight: 300;
	line-height: 1.2em;
}
h3 {
	font-size: 1.7em;
	font-weight: 300;
}